.main {
  width: 100%;
  align-items: center;
  text-align: center;
}

.wrapper {
  margin-top: 10rem;
}

.wrapper p {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 10rem;
}

.tableContainer {
  align-items: center;
  text-align: center;
  border: 1px solid rgb(61, 60, 60);
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  /* padding: 1rem; */
  width: 50%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.tableContent {
  display: flex;
  flex-direction: row;
  color: #fff;
  gap: 3rem;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.tableContent p {
  /* border: 1px solid rgb(61, 60, 60); */
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  border-bottom: 1px solid rgb(41, 40, 40);
}

.main a {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  text-decoration: none;
}

.button {
  background-color: lightblue;
  color: black;
  font-family: "Montserrat", sans-serif;
  width: 20%;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  padding: 1rem 1rem;
  cursor: pointer;
  margin-top: 10rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1rem;
  border: none;
}

@media screen and (max-width: 768px) {
  .tableContainer {
    width: 90%;
  }

  .button {
    width: 50%;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 0.899rem;
    padding: 0.8rem 0.8rem;
  }
}

@media screen and (max-width: 425px) {
  .button {
    width: 60%;
  }
}
