.main {
  width: 100%;
}

.contactSectionContainer {
  margin-top: 10rem;
}

.contactSectionContainer p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.7rem;
}

.contactSectionContainer .line {
  width: 100px;
  height: 2px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: lightblue;
  margin-top: 1rem;
}

.call {
  margin-top: 8rem;
}

.call .line {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: lightblue;
  width: 100px;
  height: 2px;
}

.call h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.7rem;
  line-height: 1rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.call p {
  color: #fff;
  font-family: "Noto", sans-serif;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 1.5px;
}

.pee {
  margin-top: 2rem;
}

.contactForm {
  width: 50%;
  margin: 0 auto;
  align-items: center;
  margin-top: 5rem;
}

form {
  border: 1px solid #acaca84f;
  padding: 2rem;
  border-radius: 5px;
}

.contactForm input {
  width: 100%;
  padding: 1.1rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #acaca84f;
  color: #fff;
  transition: 0.5s ease-out;
  border: none;
  outline: none;
  margin-top: 1.4rem;
  border: none;
}

input:hover {
  background-color: transparent;
  border-bottom: 3px solid #acaca84f;
}

.contactForm button {
  width: 100%;
  padding: 1rem 1rem;
  background-color: #000;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid lightblue;
  transition: 0.3s ease-out;
  font-weight: bold;
  margin-top: 2.3rem;
  border-radius: 5px;
  align-items: right;
}

.contactForm button:hover {
  border: 1px solid rgb(91, 113, 121);
  background-color: lightblue;
  color: #000;
}

.contactForm button:hover {
  opacity: 0.8;
}
