.main {
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.socialsContainer h1 {
  width: 100%;
  align-items: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1rem;
}

.socialsContainer .line {
  width: 60px;
  height: 2px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: lightblue;
  margin-top: 2rem;
}

.singleCol {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
}

.singleCol a {
  font-size: 2.3rem;
  opacity: 0.7;
  color: lightblue;
  transition: all 0.3s ease-out;
}

.singleCol .facebook:hover {
  /* opacity: 0.5; */
  box-shadow: -4px 9px 65px -12px rgba(45, 100, 189, 0.75);
  color: rgb(52, 143, 247);
}
.singleCol .instagram:hover {
  opacity: 0.5;
  box-shadow: -4px 9px 65px -12px rgba(0, 0, 0, 0.75);
}

.singleCol .twitter:hover {
  box-shadow: -4px 9px 65px -12px rgba(17, 132, 194, 0.75);
  color: rgb(89, 165, 252);
}

.singleCol .github:hover {
  opacity: 0.5;
  box-shadow: -4px 9px 65px -12px rgba(0, 0, 0, 0.75);
}

.singleCol .linkedin:hover {
  opacity: 0.5;
  box-shadow: -4px 9px 65px -12px rgba(0, 0, 0, 0.75);
}
