.main {
  width: 100%;
  background-color: rgb(11, 11, 11);
  background: black;
  display: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mobileNavContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  transition: 0.3s ease-out;
}

.mobileView a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-family: cursive;
  color: lightblue;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 40%;
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .main {
    display: block;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
    position: absolute;
    top: 75px;
    left: 0px;
    right: 300px;
    background-color: black;
    /* padding: 4rem 3rem; */
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
    margin-top: -1rem;
    transition: all 0.5s ease-in-out;
  }

  .links a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.92rem;
    text-transform: uppercase;
    transition: 0.3s ease-out;
    transition: all 0.5s ease-in-out;
    /* padding: 1rem 0; */
  }

  .links a:hover {
    opacity: 0.6;
  }

  .links p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    text-align: center;
  }

  .arrow {
    /* margin-left: 8px;   */
    margin-bottom: -3px;
    align-items: center;
  }

  .arrow:hover {
    opacity: 0.6;
  }

  .hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 1rem; */
  }

  .links .onCourse li {
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .links .onCourse li:hover {
    opacity: 0.6;
  }

  .hover {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    margin-top: -20px;
    transition: all 0.5s ease-in-out;
    height: 0;
    overflow: hidden;
  }

  .hover:hover {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    background-color: rgb(46, 45, 45);
  }

  .hover a {
    margin-top: 1rem;
  }
}
