.main {
  width: 70%;
  margin: 0 auto;
  color: #fff;
}

.slider {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  margin-top: 7rem;
}

.slider .mover {
  width: 15%;
  margin: 0 auto;
  height: 120vh;

  /* height: 600px; */
  align-items: center;
}

.slider .mover > img {
  width: 100%;
}

.mover6 {
  width: 10%;
  height: 100%;
}

.mover6 > img {
  width: 100%;
}

@media screen and (max-width: 942px) {
  .slider {
    margin-top: 10rem;
    z-index: -1;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 90%;
  }
}

/* import "slick-carousel/slick/slick.css";
import "slick-carousel/slick/slick-theme.css";
import classes from "./GalleryImg.module.css";
import Course from "../../../Asset/Image/imageOne.JPG";
import emerging from "../../../Asset/Image/emerging.JPG";
import life from "../../../Asset/Image/life.jpeg";
import Nigeria from "../../../Asset/Image/Nigeria.JPG";
import newsGolf from "../../../Asset/Image/NewsGolf.JPG";
import FactsImg from "../../../Asset/Image/FactsImg.JPG";
import offHero from "../../../Asset/Image/offHero.jpg";
import imageTwo from "../../../Asset/Image/imageTwo.JPG";
import imageRep from "../../../Asset/Image/imageRep.JPG";
import courseOne from "../../../Asset/Image/courseOne.jpg"; */
/* 
<div className={classes.mover}>
            <img src={emerging} alt="" />
          </div>
          <div className={classes.mover}>
            <img src={FactsImg} alt="" />
          </div>
          <div className={classes.mover}>
            <img src={courseOne} alt="" />
          </div>
          <div className={classes.mover}>
            <img src={Course} alt="" />
          </div>
          <div className={classes.mover}>
            <img src={imageTwo} alt="" />
          </div>
          <div className={classes.mover}>
            <img src={imageRep} alt="" />
          </div>
          <div className={classes.mover}>
            <img src={life} alt="" />
          </div>
          <div className={classes.mover}>
            <img src={Nigeria} alt="" />
          </div>
          <div className={classes.mover}>
            <img src={newsGolf} alt="" />
          </div>
          <div className={classes.mover6}>
            <img src={offHero} alt="" />
          </div> */
