.main {
  width: 100%;
  text-align: center;
}

.AcademicsHero p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.7rem;
  margin-top: 10rem;
}

.main button {
}
