.main {
  width: 100%;
  text-align: center;
}

.AcademicsHero p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.7rem;
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.main a {
  text-decoration: none;
  color: #000;
  background-color: lightblue;
  padding: 1rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.main a:hover {
  background-color: rgb(136, 180, 194);
}

.main .peee {
  color: rgb(195, 184, 184);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 2px;
  margin-top: 7rem;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 8rem;
}

@media screen and (max-width: 768px) {
  .main .peee {
    width: 80%;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 425px) {
  .AcademicsHero p {
    margin-bottom: 6rem;
  }
  .main .peee {
    width: 95%;
    font-size: 1rem;
    margin-bottom: 5rem;
  }
}
