.main {
  width: 90%;
  margin: 0 auto;
}

.heroContent {
  margin-top: 10rem;
}

.heroContent h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
}
