.main {
  width: 100%;
}

.videoContainer {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid rgb(48, 47, 47); */
  margin-top: 5rem;
}

.videoContainer iframe {
  width: 100%;
  height: 600px;
}

.videoContainer p,
.veedeo p {
  color: #fff;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

.sectVideo {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  gap: 3rem;
  align-items: center;
}

.sectVideo iframe {
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.veedeo {
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .videoContainer {
    width: 90%;
  }

  .sectVideo {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .sectVideo {
    gap: 6rem;
    display: flex;
    flex-direction: column;
  }

  .videoContainer p,
  .veedeo p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 425px) {
  .videoContainer {
    margin-top: 3rem;
  }

  .sectVideo {
    gap: 3rem;
  }
}
