.main {
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
}

.main h3 {
  font-family: "Noto Sans", sans-serif;
  line-height: 28px;
  letter-spacing: 1px;
}

.main p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  line-height: 35px;
  letter-spacing: 1px;
  margin-top: 1rem;
}
