.main {
  width: 100%;
  /* background-image: url("../../../Asset/Image/hero.JPG"); */
  /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 82vh;
  background-attachment: fixed;
  background-color: #d5d1d1;
  background-blend-mode: multiply; */
}

.bioHeroContainer {
  padding-top: 10rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.bioHeroContainer p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

.bioHeroContainer a {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  transition: 0.3s ease-out;
  letter-spacing: 1.5px;
  line-height: 2rem;
  color: lightblue;
}

.bioHeroContainer a:hover {
  color: lightblue;
}
