.main {
  width: 100%;
}

.factsContainer {
  width: 85%;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.highlightedFacts {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
}

.factsImage {
  width: 60%;
}

.factsImage img {
  width: 100%;
}

.highlightedFacts li {
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 1.5px;
  line-height: 3rem;
}

@media screen and (max-width: 1440px) {
  .factsImage {
    width: 80%;
  }
}

@media screen and (max-width: 1220px) {
  .factsContainer {
    width: 90%;
    margin-bottom: 5rem;
  }

  .highlightedFacts {
    gap: 3rem;
  }

  .factsImage {
    width: 93%;
  }
}

@media screen and (max-width: 1110px) {
  .highlightedFacts {
    gap: 2.5rem;
  }

  .factsImage {
    width: 96%;
  }
}

@media screen and (max-width: 1024px) {
  .factsContainer {
    width: 95%;
  }
}

@media screen and (max-width: 930px) {
  .factsImage {
    display: none;
  }

  .highlightedFacts ul {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .highlightedFacts ul {
    width: 90%;
  }

  .highlightedFacts li {
    font-size: 0.938rem;
  }
}
