.main {
  width: 100%;
  margin-top: 10rem;
}

.container h2 {
  color: #fff;
  width: 100%;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 2.3rem;
  text-align: center;
}

.container p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.8rem;
  /* margin-top: 10rem; */
}
