.theMainContent {
  width: 100%;
  margin-top: 13rem;
}

.main,
.mainTwo {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.serviceImg {
  width: 50%;
  margin: 0 auto;
}

.serviceImg img {
  width: 100%;
}

.mainTwo {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  margin-top: 8rem;
}

.serviceContainer,
.serviceContainerTwo {
  width: 45%;
  margin: 0 auto;
}

.serviceContainer h2,
.serviceContainerTwo h2 {
  color: lightblue;
  margin-bottom: 1rem;
  line-height: 45px;
  letter-spacing: 1px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
}

.serviceContainer p,
.serviceContainerTwo p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 30px;
  margin-bottom: 1.8rem;
  opacity: 0.8;
}

.main a,
.mainTwo a {
  color: lightblue;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
}

.main a:hover,
.mainTwo a:hover {
  text-decoration: underline;
}

.line {
  width: 90%;
  height: 0.1px;
  margin: 0 auto;
  background-color: lightblue;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1330px) {
  .main,
  .mainTwo {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .serviceImg {
    width: 100%;
  }

  .serviceContainer,
  .serviceContainerTwo {
    width: 100%;
    margin-top: 1rem;
  }

  .line {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main,
  .mainTwo {
    width: 95%;
  }

  .serviceContainerTwo p,
  .serviceContainerTwo a {
    width: 100%;
  }

  .serviceImg {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .main,
  .mainTwo {
    width: 100%;
  }

  .serviceContainer,
  .serviceContainerTwo {
    width: 95%;
  }

  .serviceImg {
    width: 95%;
  }

  .serviceImg img {
    width: 100%;
  }

  .serviceContainer p,
  .serviceContainerTwo p {
    font-size: 0.938rem;
  }
}
