.main {
  width: 100%;
  backdrop-filter: blur(10px);
  border-top: 0.1px solid lightblue;
}

.navLink {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 50%;
  border-radius: 25px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
  position: relative;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}

.links a:hover,
.onCourse a:hover {
  opacity: 0.6;
}

.links p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.onCourse li,
.offCourse li {
  cursor: pointer;
}

.hover {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem 0.3rem;
  line-height: 1.8rem;
  width: 45%;
  top: 100%;
  border-bottom: none;
  text-transform: capitalize;
  opacity: 0;
  color: black;
  margin-top: 1.7rem;
}

.onCourse:hover .hover {
  opacity: 1;
  background: lightblue;
  padding: 1rem;
  width: 40%;
}

.offCourse:hover .hover {
  opacity: 1;
  background: lightblue;
  padding: 1rem;
  width: 50%;
}

.hover a {
  color: black;
}
