.main {
  width: 100%;
  backdrop-filter: blur(60px);
  border-top: 0.1px solid lightblue;
}

.navLink {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 50%;
  border-radius: 25px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
  position: relative;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}

.links a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: lightblue;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.links a:hover::after {
  width: 100%;
}

.links a:hover {
  /* opacity: 0.7; */
}

.hover {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1.8rem 0.3rem;
  line-height: 1.8rem;
  width: 45%;
  top: 100%;
  border-bottom: none;
  text-transform: capitalize;
  border-radius: 0.7rem;
  opacity: 0;
}

.onCourse:hover .hover {
  opacity: 1;
}
